body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f5f6fa;
}
.sidebar {
    background-color: #241da4;
    color: #fff;
    min-height: 100vh;
}
.sidebar a {
    color: #f6f6f8;
    text-decoration: none;
}
.sidebar a:hover {
    color: #fff;
}

.header-section {
  background-color: #241da4;
  color: white;
  padding: 15px 20px;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.card-title {
    font-weight: 600;
}
.quick-action-btn {
    width: 100%;
    padding: 15px;
    border-radius: 12px;
    font-weight: 500;
    background-color: #3a2fc1;
    color: white;
    border: none;
}
.quick-action-btn:hover {
    background-color: #2d25a0;
}